<div class="container-fluid">
    <img class="mango-login" src="../../app/img/RelaxingRed.jpg" alt="banner" width="500" height="400">
    <div class="container-fluid login-container">
        <div class="form-group login-box">
            <div class="col-sm-10 banner-login-text">
                If you are seeking a new best friend,
                <br>&nbsp log in here!
            </div>
            <br>
            <div class="paw-print">
                    <img class="paw-print-user-login-one" src="../../app/img/pawprint.jpg" alt="banner" width="3%" height="3%"><br><br>
                </div>
            <div class="col-sm-10">
                <input type="email" placeholder="Email address" ng-model="auth.email" autofocus>
            </div>
            
            <div class="paw-print">
                    <img class="paw-print-user-login-two" src="../../app/img/pawprint.jpg" alt="banner" width="3%" height="3%"><br><br>
                </div>
            <div class="col-sm-10">
                <input type="password" placeholder="Password" ng-model="auth.password">
            </div>
            <br>
            <!-- <button ng-click="registerNewAccount()">Create User Account</button>
    <button ng-click="registerNewShelter()">Create Shelter Account</button> -->
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary user-login-button" ng-click="logMeInUser(auth)">Login</button>
            </div>
        </div>
    </div>
</div>