<div class="container-fluid">
    <img class="mango-login" src="../../app/img/BlueSkies.jpg" alt="banner" width="500" height="400">
    <div class="container-fluid login-container">
        <div class="form-group login-box">
            <div class="col-sm-10 banner-login-text shelter-login-text">
                If you are a Shelter, please log in here
                <br>
            </div>
            <div class="col-sm-10">
                <input type="email" placeholder="Email address" ng-model="auth.email" autofocus>
            </div>
            <br>
            <div class="col-sm-10">
                <input type="password" placeholder="Password" ng-model="auth.password">
            </div>
            <br>
            <!-- <button ng-click="registerNewAccount()">Create User Account</button>
    <button ng-click="registerNewShelter()">Create Shelter Account</button> -->
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary user-login-button" ng-click="logMeInShelter(auth)">Login</button>
            </div>
        </div>
    </div>
</div>