<div class="container-fluid">
    <img class="mango-register" src="../../app/img/BlueSkies.jpg" alt="banner" width="100%" height="400" <div class="container-fluid login-container">
    <div class="form-group login-box banner-user-register-text">
        <input type="email" placeholder="Email address" ng-model="auth.email" autofocus>
        <input type="password" placeholder="Password" ng-model="auth.password">
        <input type="text" placeholder="Shelter Name" ng-model="auth.shelterName">
        <input type="text" placeholder="Address" ng-model="auth.address">
        <button class="btn btn-primary user-login-button" ng-click="registerShelter(auth)">Register</button>
    </div>
</div>