<br>
<div class="container thebackground">
    <div class="banner-home">
    <img class="mango" src="../../app/img/BlueSkies.jpg" alt="banner" width="100%" height="400">
    <img class="banner-home-image" src="../../app/img/bannerdog.png" alt="banner" width="20%" height="50%">
    <h1 class="container banner-home-text">Welcome to Pawsitive! On our site, you can search the nearest animal shelters that have dogs in need of a good home. To find
    your best friend, please log in or create an account.</h1>
</div>
    <br>
    <button class="log-in-button btn btn-primary" ng-click="clickCreate()">Create New Account</button>
    <button class="log-in-button btn btn-primary" ng-click="clickLogInUser()"> Log In As A User &nbsp&nbsp</button>
    <button class="log-in-button btn btn-primary" ng-click="clickLogInShelter()">Log In As A Shelter</button>
</div>

<br>
<br>
<br>