<div class="dog-home-body found-home-container" style="opacity: .9;">
    
    <div class="container">
            <br>
            <br>
        <h2>These Dogs Have Found A Home!!!</h2>
        <br>
        <div class="row">
            <div class="card col-sm-3 dog-card" style="width: 10rem;" ng-repeat="dogs in dogsToDisplay">
                <div class="card-body">
                    <img class="dog-picture" src="{{ dogs.url }}" alt="Dog Picture" width="150" height="150">
                    <br>
                    <div class="cart-title">
                        <h2>{{ dogs.name }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>