<h2>Welcome, user!</h2>
<div>
    <button ng-click="viewSavedDogs()" id="savedDogsButton">View Saved Dogs</button>
</div>
<div ng-repeat="dogs in dogsToDisplay">
    <div>
        <img src="{{ dogs.url }}" alt="Dog Picture" width="150" height="150">
        <br> Name: {{ dogs.name }}
        <br>Age: {{ dogs.age }}
        <br>Age: {{ dogs.size }}
        <br> Good with animals?: {{ dogs.animals }}
        <br>Good with Children?: {{ dogs.children }}
        <br>Additional Comments: {{ dogs.additional }}
    </div>
    <button ng-click="InterestedButton($event, dogs)" id="{{ dogs.id }}">Interested</button>
    <button id="{{ dogs.id }}" ng-click="notInterestedButton($event, dogs)">Not Interested</button>
    <br>
    <br>
</div>