<img class="all-shelter-body" src="../../app/img/RelaxingRed.jpg" alt="banner" width="100%" height="100%" style="object-fit: fill;">
<div class="all-shelter-container container-fluid">
    <br>
    <h2>List of current shelters</h2>

    <div ng-repeat="displayAllShetlers in shelterDisplay">

        <div>
            <br> {{ displayAllShetlers.shelterName }}
            <br> {{ displayAllShetlers.address }}
            <br> <a href="mailto:{{ displayAllShetlers.email }}">{{ displayAllShetlers.email }}</a>
        </div>
    </div>
    <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d103107.70344671371!2d-86.85268107467715!3d36.13939526363798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1snashville+animal+shelters!5e0!3m2!1sen!2sus!4v1514926980432" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>