<img class="all-shelter-body" src="../../app/img/RelaxingRed.jpg" alt="banner" width="100%" height="100%">
<div class="all-shelter-container container-fluid">
    <br>
    <h2>List of current shelters</h2>

    <div ng-repeat="displayAllShetlers in shelterDisplay">

        <div>
            <br> {{ displayAllShetlers.shelterName }}
            <br> {{ displayAllShetlers.address }}
            <br> <a href="mailto:{{ displayAllShetlers.email }}">{{ displayAllShetlers.email }}</a>
        </div>
    </div>
</div>