<div class="dog-home-body chat-body" style="opacity: .9">
    <div class="container whole-chat">
        <br>
        <h2>Welcome to the Chat!!</h2>
        <div class="chat-container">
            <div ng-repeat="displaymessage in chatMessages" class="chat-text">
                {{ displaymessage.firstName }} {{ displaymessage.lastName }}: {{ displaymessage.message }}
                <br>
                <div>{{ displaymessage.date }} </div>
            </div>
        </div>
            <br>
            <div class="chat-bubble">
                <div class="chatUserName" ng-model="chatname"> {{ chatname.firstName }} {{ chatname.lastName }} {{chatname.shelterName }}</div>
                <input id="text" type="text" ng-model="input.chatInput" placeholder="Type Here">
                <br/>
                <button class="btn btn-primary user-login-button chat-post-button" id="postButton" ng-click="chatPostButton(input)">Post</button>
                <br/>
            </div>
        
    </div>
</div>