<!-- <h2>Edit dog here!</h2>
<div>
<li>Dog Name:<input type="dogName" ng-model="dog.name"  autofocus></li>
<li>Dog Age<input type="dogAge" ng-model="dog.age"></li>
<li>Dog Size:<input type="dogSize" ng-model="dog.size"></li>
<li>Health Comments:<input type="dogHealth" ng-model="dog.health"></li>
<li>Good with other Animals?:<input type="dogAge" ng-model="dog.animals"></li>
<li>Good with children?:<input type="dogChildren" ng-model="dog.children"></li>
<li>Additional Comments:<input type="dogAdditional" ng-model="dog.additional"></li>
<button ng-click="editDogToDatabase($event)">Edit Dog</button>
</div> -->