body{
    /* font-family: 'Indie Flower', cursive;
    font-family: 'Kalam', cursive; */
    font-family: 'Quicksand', sans-serif;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:focus, .btn-secondary.active, .open>.dropdown-toggle.btn-primary, .open>.dropdown-toggle.btn-secondary {
    background-color: rgb(253, 246, 216);
    color: black;
}


label.upload-group {
   width: 100px;
   height: 40px; 
   text-align: center;
}

input#file {
    width: 0.1px; 
    height: 0.1px; 
    position: absolute;
    z-index: -1;
}

.dog-pic-li {
    float: left;
}

.hidden {
    display: none;
}

.nav-item {
    padding-right: 20px;
    border-right: solid black 1px;
    margin-left: 20px;
}

.navbar-link {
    color: black;
}

.navbar-link:hover {
    background-color: #af3939;
    border-radius: 2px;
    text-decoration: none;
    color: white; 

}

.navbar {
    border-bottom: solid black 1px;
}

/* LOGIN BOX */
.log-in-button {
    margin-top: 20px;
    background-color: rgb(253, 246, 216);
    border: #3a3a3a;
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 25%;
    
}

/* BANNER STYLING HOME PAGE */
.banner-home {
    position: relative;
    text-align: center;
    color: white;
}


.banner-home-text {
    position: absolute;
    font-size: 5rem;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 3px 1px 8px rgba(27, 27, 27, 0.507);
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.banner-home-image {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid rgb(136, 173, 190); 
    background-color: rgb(255, 255, 255);
    box-shadow: .2px .2px .5px .2px #888888;
}

.mango {
    border-radius: 10px;
    -webkit-filter: blur(1px);
}

.button-home {
    position: absolute;
    transform: translate(-12%, -180%);
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

/* USER LOG IN PAGE */ /* SHELTER LOGIN PAGE */

.mango-login {
    border-radius: 10px;
    -webkit-filter: blur(1px);
    margin-left: 250px;
}

.banner-login-text {
    position: absolute;
    transform: translate(-21%, -90%);
    text-shadow: 3px 1px 8px rgba(27, 27, 27, 0.507);
}

.login-container {
    display: inline-block;
    padding-left: 480px;
    padding-bottom: 500px;
    position: relative;
    text-align: center;
    transform: translate(-15%, -40%);
}
.paw-print-user-login-one {
    position: relative;
    right: 160px;
    top: 46px;
}
.paw-print-user-login-two {
    position: relative;
    right: 160px;
    top: 51px;
}

.user-login-button {
    background-color: rgb(253, 246, 216);
    border: #3a3a3a;
}

.shelter-login-text {
    padding-bottom: 30px;
}

.welcome-text {
    line-height: 30px;
}

/* CREATE NEW ACCOUNT */

.mango-register {
    border-radius: 10px;
    -webkit-filter: blur(1px);
}
.banner-register-text {
    position: absolute;
    transform: translate(-12%, -50%);
}

/* USER REGISTER */
.banner-user-register-text {
    position: absolute;
    transform: translate(25%, -600%);
}

/* USER WELCOME PAGE */

.interested-button {
    margin-bottom: 2px;
    background-color: #e07474;
    border: #000000;
}
.not-interested-button {
    margin-bottom: 2px;
    background-color: #e07474;
    border: #000000;
}

.btn-secondary {
    background-color: #e07474;
    
}

.view-saved-button {
    background-color: #e07474;
}

.dog-card {
    opacity: .8s;
    margin-bottom: 2px;
    position: relative;
    align-content: center;
    /* margin-right: 1px; */
    box-shadow: 6px 30px 53px -15px rgba(0,0,0,0.65);
    margin-left: 6px;

}

.dog-picture {
    border: .5px solid rgba(14, 11, 9, 0.466);
    border-radius: 2%;
    object-fit: cover;
    
}

.new-body {
    width: 100%;
    /* background: linear-gradient(to right, #ece9e6, #ffffff); */
    background-color: #dbcbb3;
}

.current-user-text {
    position: relative;
    left: 7%;
}

#savedDogsButton {
    position: relative;
    left: 7%;
}

/* VIEW ALL SHElTERS PAGE */
.all-shelter-body {
    position: absolute; 
}

.all-shelter-container {
    position: relative;
}

/* VIEW ALL DOGS WHO HAVE FOUND A HOME PAGE */
.dog-home-body {
    position: absolute; 
    background-repeat: repeat-y;
    background-image: url("../../app/img/RelaxingRed.jpg");
    width: 100%;
    
}

.dog-home-container {
    position: relative;
}

.card:hover {
    background-color: rgb(253, 246, 216)
}